@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-input {
        @apply block w-full rounded-md border-0 p-1.5 dark:bg-white/5 dark:text-text_dark text-text shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-0 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6
    }

    .form-label {
        @apply block text-sm font-medium leading-6 dark:text-text_dark text-text
    }

    .gradient-effect {
        @apply bg-gradient-to-r from-primary to-accent dark:from-primary_dark dark:to-accent_dark inline-block text-transparent bg-clip-text
    }

    .form-button {
        @apply flex w-full cursor-pointer justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:text-primary_dark dark:hover:text-primary dark:hover:bg-primary_dark
    }

    .anchor-link {
        @apply font-semibold leading-6 text-accent dark:text-accent_dark dark:hover:text-primary_dark hover:text-primary_dark
    }
}

*{
    @apply transition-colors duration-200 ease-linear;
}


body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}